<div class="bloque2">
    <div>
        <h2>BLOQUE 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. Ut vel lobortis nisi. 
            Nullam condimentum nec ipsum ac porta. Integer aliquet diam ut libero faucibus commodo sit amet quis justo. Praesent molestie laoreet nibh et tincidunt. Donec 
            in ornare est. Ut vel lobortis nisi. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. Ut vel lobortis nisi. 
            Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. Ut vel lobortis nisi. Nullam condimentum nec ipsum ac porta. Nullam condimentum 
            nec ipsum ac porta. Integer aliquet diam ut libero faucibus commodo sit amet quis justo. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. Ut vel lobortis nisi. Praesent molestie laoreet nibh et tincidunt. 
            Donec in ornare est. Ut vel lobortis nisi. Nullam condimentum nec ipsum ac porta. Nullam condimentum nec ipsum ac porta. Integer aliquet diam ut libero 
            faucibus commodo sit amet quis justo. Nulla facilisi.
        </p>
    </div>
</div>

<hr>
