*{
    margin:0px;
    padding: 0px;
}

main{
    width:90%;
    max-width: 1500px;
    margin: 4rem auto;
    text-align: justify;
}


h1{
    margin: 4rem auto 2rem auto;
    text-decoration: underline;
}

h2{
    margin: 2rem auto;
    margin-left: 2rem;
}

ul{
    list-style-type: none;
}

.cont-all-center{
    @include flexbox();
	@include justify-content(center);
	@include align-items(center);
	@include flex-wrap(wrap);
    margin: 2rem auto;
}