<h2>BLOQUE 1</h2>

<div class="bloque1">
    <div>
        <button class="btn btn-primary btn-success tamB" (click)="hide=!hide"><span>{{ hide ? 'Mostrar texto' : 'Ocultar texto' }}</span></button>
    </div>
   
    <div [hidden]="hide">
        <h2>IPSUM LOREM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. Ut vel lobortis nisi. 
            Nullam condimentum nec ipsum ac porta. Integer aliquet diam ut libero faucibus commodo sit amet quis justo. Praesent molestie laoreet nibh et tincidunt. Donec 
            in ornare est. Ut vel lobortis nisi. Praesent molestie laoreet nibh et tincidunt. Donec in ornare est. </p>
    </div>
</div>

<hr>
    
