<div *ngIf="!showAll" id="spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>

<div id="toolsList" *ngIf="showAll" >

    <div *ngIf="tools.length == 0">
        <div class="errormessage">
            <p>LO SENTIMOS, NO HAY RESULTADOS CON ESTOS CRITERIOS.</p>
        </div>  
    </div>

    <div class="card card-flip" *ngFor="let tool of tools" id ="{{tool.id}}" (click)="flipCard($event)">

        <div  class="card-front imgDiv" >
            <div class="imgPicture transitionDiv">
                <picture>
                    <source srcSet="{{tool.png}}" type="image/png"/>
                    <source srcSet="{{tool.web}}" type="image/webp"/>
                    <img class="img-fluid" src="{{tool.png}}" alt="Imagen del logotipo de {{tool.name}}">
                </picture>
            </div>
    
            <div class="imgText transitionDiv">
                <p>{{tool.name}}</p>
            </div>
        </div>
    
        <div class="card-back linkDiv">

            <div [className]="isBigger ? 'links bigText' : 'links'">

                <p>{{tool.name}}</p>
          
                <div class="oficial pages" *ngIf="tool.oficialPage" >
        
                    <a href="{{tool.oficialPage.url}}" target="_blank">{{tool.oficialPage.name}}</a> 
                   
                </div>

                <div class="tutorial pages" *ngIf="tool.tutorialsPages.length != 0" >
                    <p>TUTORIALES</p>
                    <div *ngFor="let tutorial of tool.tutorialsPages">
                        <a href="{{tutorial.url}}" target="_blank">{{tutorial.name}}</a> 
                    </div>
                
                </div>
        
                <div class="analisi pages" *ngIf="tool.analisisPages.length != 0">
                    <p>ANÁLISIS:</p>
                    <div *ngFor="let analisi of tool.analisisPages">
                        <a href="{{analisi.url}}" target="_blank">{{analisi.name}}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    
</div>

<div id="changeTextIcon" (click)="changeText()"></div>
