/*GENERAL AREA*/
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

hr{
    margin-bottom: 3em;
}

h2{
    margin-bottom: 1em;
}