$white: #fff;
$black: #000;
$granate: #660000;

$whiteGrey: #F9F9F9; 
$lightGrey: #EBEDEF;
$darkGrey:#363636;
$grey: #808080;

$yellow: #fab10f;
$yellowDark: #9e7008;
$yellowLight: #FFF9E0;

$blue: #3f51b5;
$coffe: #453106;