/*FOOTER AREA*/
footer{
	text-align: center;
	line-height: 2.5;
}

footer p,
footer a{
	color: var(--white);
	font-weight: 300;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	color:var(--orange);
}


/*MEDIA*/
@media screen and (max-width: 500px){
	
	footer .hideOnSmallDevice{
		display: none;
	}

}


