/* 
INDEX:
	IMPORTS
	VARIABLES
	GENERAL AREA
	HEADER AREA
	MAIN AREA
	FOOTER AREA
*/

/*IMPORTS*/
@import "fonts/fonts.css";

/*VARIABLES*/
:root {
	/*Colors*/
	--black: #000;
	--white: #fff;
	--lightGrey: #969696;
	--darkGrey: #212121;
	--darkBlue: #0000ff;
	--lightBlue: #e6f2ff;

	/*Units*/
  	--unit: .5rem;
	--unitX2: calc(var(--unit) * 2);
	--unitX4: calc(var(--unit) * 4);
	--allWidth: 100%;
	--allHeight: 100vh;
}


/*GENERAL AREA*/
* {/*For all elements*/
	 /*Include padding and border in the element's total width and height*/
	box-sizing:border-box;
	/*Reset margin and padding from elements*/
	margin: 0;
  	padding: 0;
}

body{
	background-color: var(--white);
	font-family: 'KoHo', sans-serif;
	font-weight: 400;
	font-size: 16px;
 	color: var(--darkGrey);
}

/*Text*/
h1{
	margin-bottom: var(--unitX2);
	text-align:left;
	font-size: xx-large;
	font-family:'Sigmar One', cursive;
	
}

h1 > span{
	font-size: x-large;
	color: var(--lightGrey);
	margin-left: var(--unit);
	font-family: 'Limelight', cursive;
}

/*HEADER AREA*/
header{
	padding: var(--unitX2);
	background-color: var(--white);
}

/*MAIN AREA*/
main{
	background-color: var(--white);
	padding: var(--unitX4);
}

#salidaXML{
	width: 90%;
	margin: var(--unitX2) auto;
}

/*CSS images*/
#toolsList{

	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	-webkit-flex-flow:row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow:row wrap;
	flex-flow: row wrap;
	
	-webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
	align-items: center;

	-webkit-align-content: stretch;
	align-content: stretch;

	justify-content: space-evenly;	

}

#toolsList > div.imgDiv{
	margin: 1em;
	flex: 0 1 auto;
	text-align: center;
	min-width: 350px;
	border-radius: 10px;

	-webkit-box-shadow: 5px 5px 10px var(--lightGrey);
    -moz-box-shadow: 5px 5px 10px var(--lightGrey);
	box-shadow: 5px 5px 10px var(--lightGrey);

	background-color: var(--darkGrey);
	background-image: url("img/code.jpg");
	background-position: center;
	background-repeat: no-repeat; 

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

	position:relative;
}

#toolsList > div.imgDiv img {
	max-width: 200px;
}

#toolsList > div.imgDiv .imgText{
	position: absolute;
	right:0px;
	bottom:0;
	font-size: xx-large;
	font-family:'bangers';
	letter-spacing: 2px;
	color: var(--white);
} 

/*transitions*/
#toolsList > div.imgDiv .transitionDiv{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

#toolsList > div.imgDiv .imgPicture{	
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#toolsList > div.imgDiv:hover .imgPicture{
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5) translate(-150px, -80px);
}

#toolsList > div.imgDiv .imgText{
	opacity : 0;
	filter: alpha(0 * 100); 
} 

#toolsList > div.imgDiv:hover .imgText{
	transform: translate(-50px) ;
	opacity: 1;
	filter: alpha(1 * 100);
} 

/*---------*/


#backToMenu{
	padding: var(--unitX2) 0 0 var(--unitX2);
	margin-top: var(--unitX4);
}

#backToMenu p{
	line-height: 1;
	position: relative;
	padding-left: var(--unitX2);
}

#backToMenu p::before{
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    height: 6px;
    left: 0px;
    position: absolute;
    width: 6px;
    margin-top: -3px;
    top: 50%;
    transition: left 0.1s;
    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
}

#backToMenu a{
	color: var(--lightGrey);
}

#backToMenu a:hover{
	color: var(--darkGrey);
}


/*FOOTER AREA*/
footer{
	padding: var(--unit) 0;
	text-align: center;
	background-color: var(--darkGrey);
}

footer p,
footer a{
	color: var(--white);
	font-weight: 300;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	font-weight: 500;
}