/* 
INDEX:
	VARIABLES
	GENERAL AREA
	HEADER AREA
	MAIN AREA
	FOOTER AREA
*/

/*VARIABLES*/
:root {
	/*Colors*/
	--black: #000;
	--white: #fff;
	--lightGrey: #969696;
	--darkGrey: #212121;
	--darkBlue: #0000ff;
	--lightBlue: #e6f2ff;

	/*Units*/
  	--unit: .5rem;
	--unitX2: calc(var(--unit) * 2);
	--unitX4: calc(var(--unit) * 4);
	--allWidth: 100%;
	--allHeight: 100vh;
}


/*GENERAL AREA*/
* {/*For all elements*/
	 /*Include padding and border in the element's total width and height*/
	box-sizing:border-box;
	/*Reset margin and padding from elements*/
	margin: 0;
  	padding: 0;
}

body{
	background-color: var(--white);
	font-family: 'KoHo', sans-serif;
	font-weight: 400;
	font-size: 16px;
 	color: var(--darkGrey);
}

/*Text*/
h1{
	margin-bottom: var(--unitX2);
	text-align:left;
	font-size: xx-large;
	font-family:'Sigmar One', cursive;
	
}

h1 > span{
	font-size: x-large;
	color: var(--lightGrey);
	margin-left: var(--unit);
	font-family: 'Limelight', cursive;
}

/*HEADER AREA*/
header{
	padding: var(--unitX2);
	background-color: var(--white);
}

/*MAIN AREA*/
main{
	background-color: var(--lightBlue);
	padding: var(--unitX4);
}

#content{
	width: 80%;
	margin: var(--unitX2) auto;
	text-align: center;
}

#backToMenu{
	padding: var(--unitX2) 0 0 var(--unitX2);
	margin-top: var(--unitX4);
}

#backToMenu p{
	line-height: 1;
	position: relative;
	padding-left: var(--unitX2);
}

#backToMenu p::before{
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    height: 6px;
    left: 0px;
    position: absolute;
    width: 6px;
    margin-top: -3px;
    top: 50%;
    transition: left 0.1s;
    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
}

#backToMenu a{
	color: var(--lightGrey);
}

#backToMenu a:hover{
	color: var(--darkGrey);
}


/*FOOTER AREA*/
footer{
	padding: var(--unit) 0;
	text-align: center;
	background-color: var(--darkGrey);
}

footer p,
footer a{
	color: var(--white);
	font-weight: 300;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	font-weight: 500;
}